h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

h3 {
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.IngredientsContainer {
  border: none;
  height: auto;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.TimeContainer {
  border: none;
  height: auto;
  width: 350px;
}

.DifficultyContainer {
  border: none;
  width: 100px;

}

.Easy {
  background-color: rgb(195, 247, 92);
}

.Average {
  background-color: rgb(247, 202, 4);
}

.Difficult {
  background-color: rgb(218, 15, 15);
}

.sortButton {
  height: auto;
  border: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 360px;
}

.backButton {
  height: auto;
  border: none;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.turnonImg {
  height: 30px;
  position: absolute;
  top: 70px;
  left: 1px;
}

.scrollbar {
  width: 8px;
  height: 360px;
  border: solid 1px black;
  border-radius: 12px;
  overflow: visible;
  position: absolute;
  left: 360px;
  top: 100px;
}

.sortingPageButton {
  height: 30px;
  border: solid 1px black;
  border-radius: 12px;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 70px;
  left: 270px;
}

.searchBar {
  border: solid 1px black;
  border-radius: 12px;
  background-color: transparent;
  position: absolute;
  top: 5px;
  left: 130px;
  height: 20px;
  width: 105px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.addButton {
  height: 30px;
  border: solid 1px black;
  border-radius: 100%;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  top: 5px;
  left: 290px;
}

.recipeButtons {
  position: relative;
  cursor: pointer;
  top: 130px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 25px;
  width: 120px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#alfaContainer {
  background-color: lightgray;
  width: 360px;
}

.frontpageIMG {
  height: 90px;
  width: 50px;

}

.IMGSize {
  height: 70px;
  width: 140px;

}

.card {
  display: inline-block;
  vertical-align: top;
}

.CreateCardMenuHTML{
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border: none;
  cursor: pointer;
}
.createButtonMenu{
  border: none;
  display: grid;
  width: 50px;
  margin-bottom: 10px;
  position: relative;
  top: 100px;
  cursor: pointer;
}