h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

h3 {
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.IngredientsContainer {
  border: none;
  height: auto;
  width: 350px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.TimeContainer {
  border: none;
  height: auto;
  width: 350px;
}

.DifficultyContainer {
  border: none;
  width: 100px;

}

.Easy {
  background-color: rgb(195, 247, 92);
}

.Average {
  background-color: rgb(247, 202, 4);
}

.Difficult {
  background-color: rgb(218, 15, 15);
}

.sortButton {
  height: auto;
  width: 360px;
  font-family: 'Times New Roman', Times, serif;
  border: solid #00805c;
  background-color:#00805c;
  color: white; 
  cursor: pointer;

}

.backButton {
  height: auto;
  border: none;
  background-color: transparent;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;

}

.turnonImg {
  height: 30px;
  position: absolute;
  top: 70px;
  left: 1px;
  cursor: pointer;

}

.scrollbar {
  width: 8px;
  height: 360px;
  border: solid 1px black;
  border-radius: 12px;
  overflow: visible;
  position: absolute;
  left: 360px;
  top: 100px;
  cursor: pointer;

}

.sortingPageButton {
  height: 30px;
  width: 60px;
  border: none;
  color: white; 
  border-radius: 40px;
  background-color: #00805c;
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 70px;
  left: 270px;
  cursor: pointer;

}

.searchBar {
  border-radius: 12px;
  border: solid 1px #00805c;
  position: absolute;
  top: 5px;
  left: 130px;
  height: 20px;
  width: 105px;
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;

}

.addButton {
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: solid #00805c;
  background-color:#00805c;
  color: white; 
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  top: 5px;
  left: 290px;
  cursor: pointer;

}

.recipeButtons {
  position: relative;
  cursor: pointer;
  top: 130px;
  padding: 5px;
  margin-left: 30px;
  margin-top: 25px;
  width: 120px;
  font-family: 'Times New Roman', Times, serif;
}

#alfaContainer {
  width: 360px;
}

.frontpageIMG {
  height: 90px;
  width: 50px;

}

.IMGSize {
  height: 70px;
  width: 140px;

}

.card {
  display: inline-block;
  vertical-align: top;
}

.CreateCardMenuHTML {
  width: 350px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: none;
  cursor: pointer;
}

.createButtonMenu {
  border: none;
  display: grid;
  width: 50px;
  margin-bottom: 10px;
  position: relative;
  top: 100px;
  cursor: pointer;
}

.AllContainer {
  width: 360px;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#addrecipeinputImg{
  position: absolute;
  top: 150px;
  left: 100px;
  cursor: pointer;
  border: none;

}

#NavnInput{
  width: 130px;
  border-radius: 50px;
  border: solid #00805c;
  cursor: pointer;

}
#fileInput{
  border: solid #00805c;
  background-color:#00805c;
  color: white;
  width: 55px;
  cursor: pointer;


}
select{
  border: outset #00805c;
  background-color:#00805c;
  color: white;
  border-radius: 100px;
  height: 30px;
  cursor: pointer;

}
.saveButton{
  border: solid #00805c;
  background-color:#00805c;
  color: white;
  cursor: pointer;

}
.portion{
  width: 50px;
  border: solid #00805c;
  cursor: pointer;


}
.Matpratknapp{
  border: solid #00805c;
  background-color:#00805c;
  color: white; 
  cursor: pointer;

}

#textInput{
  width: 300px;
  height: auto;
  border: solid #00805c;
  border-radius: 50px;
  font-family: 'Times New Roman', Times, serif;
}